.Announcements {
  width: 100%;
  height: 477px;
  background-color: var(--bg-sidebar);
  box-shadow: var(--shadow-secondary);
  padding: 20px;
  padding-bottom: 5px;
  border: var(--border-primary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

/* @media (min-width: 1500px) {
  .Announcements {
    width: 40%;
  }
} */

.Announcements .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.Announcements .title h3 {
  color: var(--text-black);
}

.Announcements .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: var(--border-primary);
  border-radius: 10px;
}

.Announcements .info .icon {
  font-size: 25px;
  color: var(--text-gray);
  cursor: pointer;
}

.Announcements .info .info_wapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Announcements .info .info_wapper h4 {
  color: var(--text-black);
}

.Announcements .info .info_wapper span {
  font-size: 14px;
  color: var(--annonce-date);
}
