.auth {
  background-image: url("../assets/image/login.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.auth .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.auth .auth_content {
  position: relative;
  background-color: #fff;
  padding: 40px 20px;
  border: var(--border-primary);
  border-radius: 15px;
  box-shadow: var(--shadow-primary);
  z-index: 10001;
}

@media (max-width: 767px) {
  .auth .auth_content {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .auth .auth_content {
    width: 470px;
  }
}

.auth .auth_content .link {
  font-size: 14px;
  color: #265255;
  padding-left: 5px;
}

.auth .auth_content .phoneInput:hover {
  border-color: #333;
}

.auth .auth_content .phoneInput:hover ~ .buttonInput {
  border-color: #333;
}

.auth .auth_content .phoneInput:focus ~ .buttonInput {
  border-color: #265255;
  border-width: 2px;
}

.auth .auth_content .phoneInput:focus {
  border-color: #265255;
  border-width: 2px;
}


.auth .auth_content .button {
  background-color: #265255;
  opacity: 0.9;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth .auth_content .button:hover {
  opacity: 1;
}
