.Home {
  padding: 20px;
}

@media (min-width: 768px) {
  .Home {
    padding: 20px 40px;
  }
}

.Home .Home_content {
  display: flex;
  flex-direction: column;
}

.Home .Home_content .statistics {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 30px;
}

@media (min-width: 600px) {
  .Home .Home_content .statistics {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 991px) {
  .Home .Home_content .statistics {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1800px) {
  .Home .Home_content .statistics {
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
  }
}

.Home .Home_content .statistics .icon {
  font-size: 25px;
  color: var(--bg-third);
}

/* All Table  */
.Home .Home_content .tables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  align-items: start;
  gap: 20px;
}

@media (min-width: 991px) {
  .Home .Home_content .tables {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media (min-width: 1300px) {
  .Home .Home_content .tables {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
}

.Home .Home_content .Table_Boxes {
  padding-top: 50px;
  width: 100%;
}

/* Two tables on one line */
.Home .Home_content .Table_Boxes .wapper_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

/* Two tables on one line */
.Home .Home_content .Table_Boxes .wapper_content .Table {
  height: 477px;
  background-color: var(--bg-sidebar);
  border: var(--border-primary);
  border-radius: 6px;
  box-shadow: var(--shadow-secondary);
  padding: 10px;
  overflow: auto;
}

.Home .Home_content .Table_Boxes .wapper_content .Table.w_1 {
  width: 100%;
}

.Home .Home_content .Table_Boxes .wapper_content .Table.w_2 {
  width: 100%;
}

.Home .Home_content .Table_Boxes .wapper_content .Table.w_3 {
  width: 100%;
}

@media (min-width: 1400px) {
  .Home .Home_content .Table_Boxes .wapper_content .Table.w_1 {
    width: 100%;
  }

  .Home .Home_content .Table_Boxes .wapper_content .Table.w_2 {
    width: 100%;
  }

  .Home .Home_content .Table_Boxes .wapper_content .Table.w_3 {
    width: 100%;
  }
}
