.Batches {
  width: 100%;
  height: 477px;
  background-color: var(--bg-sidebar);
  box-shadow: var(--shadow-secondary);
  padding: 5px;
  padding-bottom: 5px;
  border: var(--border-primary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media (min-width: 1400px) {
  .Batches {
    /* width: 45%; */
    padding: 20px;
  }
}

.Batches .Batches_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  border: var(--border-primary);
  border-radius: 10px;
}

.Batches .Batches_info:not(:first-of-type) {
  margin-bottom: 20px;
}

.Batches .Batches_info .info_wapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Batches .Batches_info .info_wapper h4 {
  color: var(--text-black);
}

.Batches .Batches_info .info_wapper .Batch_active {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: self-start;
}

.Batches .Batches_info .info_wapper .Batch_active span {
  font-size: 14px;
  color: var(--text-black);
}

.Batches .Batches_info .info_wapper .Batch_active .icon_active {
  font-size: 18px;
  color: var(--bg-primary);
}

.Batches .Batches_info .info_wapper .Batch_active .icon_active.active {
  color: var(--bg-button);
}

.Batches .Batches_info .Batches_Date {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px 5px;
  justify-content: space-between;
}

/* .Batches .Batches_info .Batches_Date .Date_Wapper {
  width: calc(100% / 4);
}
*/

.Batches .Batches_info .Batches_Date .Date_Wapper .Date {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Batches .Batches_info .Batches_Date .Date_Wapper .Date .Date_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Batches .Batches_info .Batches_Date .Date_Wapper .Date .Date_title span {
  font-size: 13px;
  font-weight: bold;
  color: var(--text-black);
}

.Batches .Batches_info .Batches_Date .Date_Wapper .Date .Date_title .icon_date {
  background-color: var(--bg-icon);
  padding: 5px 8px;
  border-radius: 30%;
}

.Batches
  .Batches_info
  .Batches_Date
  .Date_Wapper
  .Date
  .Date_title
  .icon_date
  .icon {
  font-size: 15px;
}

.Batches .Batches_info .Batches_Date .Date_Wapper .Date p {
  font-size: 13px;
  font-weight: bold;
  color: var(--annonce-date);
  margin-left: 25px;
}

.Batches .Batches_info .Batches_Date .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Batches .Batches_info .Batches_Date .location span {
  font-size: 13px;
  font-weight: bold;
}

.Batches .Batches_info .Batches_Date .location .icon {
  font-size: 15px;
}

.Batches .Batches_info .Batches_Date .Classess {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 25px;
}

.Batches .Batches_info .Batches_Date .Classess span {
  font-size: 13px;
  font-weight: bold;
  color: var(--text-gray);
}

.Batches .Batches_info .Batches_Date .Classess .icon {
  font-size: 15px;
}
