.Notification {
  padding: 10px;
}

.Notification .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.Notification .Notification_content {
  padding-bottom: 50px;
  position: relative;
}

.Notification .Notification_content .divider {
  width: 90%;
  margin: auto;
  border-color: #eee;
}

.Notification .Notification_content .content_item:last-of-type .divider {
  display: none;
}

.Notification .Notification_content .item {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.Notification .Notification_content .item span {
  font-size: 14px;
  color: #666;
}

.ViewAll {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  z-index: 12;
}

.ViewAll button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  font-weight: bold;
  font-family: var(--font-family);
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

.ViewAll button:hover {
  opacity: 1;
}
