.pathname {
  padding: 0px 10px 30px;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pathname h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-gray);
}

@media (max-width: 767px) {
  .pathname h1 {
    justify-content: center;
  }
}

.pathname .icon {
  font-size: 35px;
  color: var(--bg-secondary);
  cursor: pointer;
}
