.Card {
  background: var(--bg-sidebar);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--shadow-secondary);
}

.Card .Card_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Card .Card_content .title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Card .Card_content .title .icon {
  background-color: var(--bg-icon);
  border-radius: 50%;
  padding: 8px 10px;
}

.Card .Card_content .title h3 {
  color: var(--text-black);
  font-size: 16px;
}

.Card .Card_content .info {
  padding-left: 10px;
}

.Card .Card_content .info h3 {
  font-weight: bold;
  font-size: 15px;
  color: var(--text-black);
}
